        hmtl,
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    @font-face {
        font-family: 'Racing Sans One';
        font-style: normal;
        font-weight: 400;
        src: local('Racing Sans One'), local('RacingSansOne-Regular'), /*url(http://really-long-url.woff) format('woff');*/
    }
    body {
        background: url(../Images/bg.jpg) no-repeat center fixed;
        background-size: cover;
    }
    .border {
        border: solid;
        border-color: black;
    }
    .hide {
        display: none;
    }
    .show {
        display: block;
    }
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .centerTag {
        margin-right: auto;
        margin-left: auto;
    }
    .container {
        width: 100%;
        height: 100%;
    }
    #volume > img {
        /*background url(../Images/volume_on.png) no-repeat fixed;*/
        height: 10%;
        left: 12%;
        position: relative;
        cursor: pointer;
    }
    /*game*/
    
    #game {
        /*display: none;*/
        z-index: 9;
    }
    .wrapper {
        width: 90%;
        height: 80%;
        position: relative;
        top: 5%;
    }
    .bankWrapper {
        position: relative;
        width: 30%;
        height: 90%;
        left: -2.5%;
    }
    .moneyTree {
        position: relative;
        width: 30%;
        height: 8%;
        margin-top: 1%;
        top: 1%;
        border-radius: 2.5em / 1.25em;
    }
    .bank {
        position: relative;
        width: 80%;
        height: 10%;
        top: 5%
    }
    .oval {
        border-radius: 10em / 5em;
    }
    .gameWrapper {
        position: relative;
        width: 60%;
        height: 90%;
    }
    .backGround {
        background: orange;
    }
    .moneyTree:nth-child(1) {
        width: 60%;
    }
    .moneyTree:nth-child(2) {
        width: 53%;
    }
    .moneyTree:nth-child(3) {
        width: 46%;
    }
    .moneyTree:nth-child(4) {
        width: 39%;
    }
    .moneyTree:nth-child(5) {
        width: 35%;
    }
    .moneyTree:nth-child(6) {
        width: 29%;
    }
    .moneyTree:nth-child(7) {
        width: 24%;
    }
    .moneyTree:nth-child(8) {
        width: 20%;
    }
    .moneyTree:nth-child(9) {
        width: 9%;
    }
    .question {
        position: relative;
        width: 80%;
        height: 30%;
        top: 2%;
        color: #000;
        background-color: #fed;
    }
    .answer1,
    .answer2,
    .answer3 {
        position: relative;
        width: 60%;
        height: 15%;
        top: 1em;
        color: #00;
        background-color: #edf;
    }
    .control {
        position: fixed;
        left: 0px;
        bottom: 2%;
        height: 15%;
        width: 100%;
    }
    .control input {
        border: none;
        height: 40%;
        padding: 0 2.5%;
        cursor: pointer;
        font-family: 'Racing Sans One';
        outline: none;
    }
    .control > #start_game {
        position: relative;
        left: -25%;
    }
    .control > #rules {
        position: relative;
        left: 25%;
    }
    #gameInfoHolder {
        position: relative;
        width: 90%;
        height: 70%;
        background-color: burlywood;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        z-index: 1;
    }

#gameInfoHolder > div.closeHolder{
        width: 100%;
        height: 10%; 
        padding-right: 5px;
        text-align: right;
    }
#gameInfoHolder > div > .close{
        font-size: 28px;
        cursor: pointer;
    }
#gameInfoHolder > div.center{
        width: 100%;
        height: 100%; 
        align-items:flex-start;
        margin-top: 5%;
    }
.fadeIn{
    -webkit-animation-name: fadeIn;
     animation-name: fadeIn;
}
    @-webkit-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
        @keyframes myMove {
            0% {
                top: 0px;
            }
            25% {
                top: 50px;
            }
            75% {
                top: 100px;
            }
            100% {
                top: 150px;
            }
        }
